// *:focus {
// outline: $outline !important;
// outline-offset: $outline-offset;
// }

body {
	min-height: 100vh;

	font-size: $font-size-mobile;
	line-height: $line-height-mobile;

	background-color: $color--white;

	font-family: $font-family;
	font-weight: 400;

	color: $color--dark-light;

	@include media('>=md') {
		font-size: $font-size-base;
		line-height: $line-height-base;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
	margin: 0;
	color: $color--dark;
}

h1 {
	font-size: 24px;

	@include media('>=md') {
		font-size: 26px;
	}
}

h2 {
	font-size: 22px;

	@include media('>=md') {
		font-size: 24px;
	}
}

h3 {
	font-size: 18px;

	@include media('>=md') {
		font-size: 20px;
	}
}

h4,
h5,
h6 {
	font-size: 16px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p {
	margin: 0 0 12px 0;

	&:last-of-type {
		margin-bottom: 0;
	}
}

a {
	color: currentColor;
	text-decoration: none;
}

.pizza-app {
	min-height: 100vh;
}

.container {
	width: 100%;
	max-width: $container-width;
	padding: 0 $container-padding;
	margin-inline: auto;
}

.content {
	padding: 110px 0 40px 0;

	@include media('>=md') {
		padding-top: 132px;
	}

	&__title {
		margin: 35px 0;

		@include media('>=md') {
			margin-top: 65px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr;
		gap: 30px 16px;

		@include media('>=xs') {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media('>=md') {
			gap: 40px 25px;
			grid-template-columns: repeat(3, 1fr);
		}

		@include media('>=lg') {
			grid-template-columns: repeat(4, 1fr);
		}

		&.loading {
			opacity: 0.25;
			pointer-events: none;
		}
	}

	&__top {
		gap: 20px;
		display: flex;
		flex-direction: column;

		@include media('>=lg') {
			gap: 0;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin: 0 -30px;
		}

		.categories {
			@include media('>=lg') {
				padding: 0 30px;
				flex-basis: 75%;
				max-width: 75%;
				flex-grow: 0;
			}
		}

		.sort {
			@include media('>=lg') {
				padding: 0 30px;
				flex-grow: 0;
			}
		}
	}
}

.cart {
	max-width: 900px;
	margin-inline: auto;
	color: $color--dark;

	@include media('>=md') {
		margin: 50px auto;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.content__title {
		display: flex;
		align-items: center;
		line-height: 1;
		margin: 0;

		svg {
			margin-right: 6px;
		}
	}

	&__items {
		margin-top: 60px;
	}

	&__bottom {
		margin: 60px 0 0 0;

		&-details {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 0 20px;

			div {
				font-size: 20px;

				span {
					font-weight: 700;
				}
			}
		}

		&-buttons {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			justify-content: space-between;
			margin-top: 60px;

			a,
			button {
				padding: 10px 30px;
				font-size: 16px;
				height: 46px;
			}
		}
	}
}
