@import '../../assets/scss/settings/init';

.categories {
	.splide {
		&:not(.is-overflow) {
			.splide__list {
				transform: translateX(0) !important;
			}
		}

		&__list {
			color: $static--color--dark;
		}

		&__slide {
			&:last-child {
				margin-right: 0 !important;
			}

			button {
				background-color: $static--color--gray;
				padding: 13px 30px;
				border-radius: 30px;
				font-weight: bold;
				cursor: pointer;
				transition: background-color $transition, color $transition;
				color: currentColor;

				@media (any-hover: hover) {
					&:hover {
						background-color: $static--color--dark;
						color: $static--color--white;
					}
				}

				&.active {
					background-color: $static--color--dark;
					color: $static--color--white;
				}
			}
		}
	}
}
